@import "tailwindcss";

@theme {
  --color-layout: var(--color-bg-layout);
  --color-surface: var(--color-bg-surface);
  --color-muted: var(--color-bg-muted);
  --color-border: var(--color-border-subtle);

  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-danger: var(--color-danger);
  --color-danger-hover: var(--color-danger-hover);
  --color-success: var(--color-success);
  --color-success-hover: var(--color-success-hover);
}

@layer base {
  :root {
    --color-bg-layout: #f8fafc;       
    --color-bg-surface: #ffffff;      
    --color-bg-muted: #f1f5f9;        
    --color-border-subtle: #e2e8f0;   

    --color-text-main: #0f172a;       
    --color-text-muted: #64748b;      
    
    --color-primary: #4f46e5;         
    --color-primary-hover: #4338ca;  
    --color-danger: #ef4444;          
    --color-danger-hover: #dc2626;    
    --color-success: #10b981;         
    --color-success-hover: #059669;   
  }

  [data-theme='dark'] {
    --color-bg-layout: #0b111d;     
    --color-bg-surface: #0f172a;     
    --color-bg-muted: #161e30;      
    --color-border-subtle: #1e293b;  
    
    --color-text-main: #f8fafc;      
    --color-text-muted: #94a3b8;     
    
    --color-primary: #6366f1; 
  }
}